# pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple

# Windows
opencv-python
numpy
kociemba
RubikTwoPhase
scikit-learn
joblib
pyserial

# Linux
# opencv-python
# numpy
# kociemba  -> using "sudo apt-get install libffi-dev" before install kociemba
# RubikTwoPhase 
# sscikit-learn
# joblib