# Windows
# pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
opencv-python
numpy
kociemba
twophase
scikit-learn
joblib

# Linux
# opencv-python
# numpy
# kociemba  -> using "sudo apt-get install libffi-dev" to install kociemba
# twophase  -> "pip install RubikTwoPhase"
# sscikit-learn
# joblib